/* style.css */
* { box-sizing: border-box; }
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #111;
}

#game-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* Under the UI */
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}
